<div ng-switch="calendarMode">
    <div layout="row" class="calendar-navbar">
        <div class="nav-left" flex="20">
            <button type="button" class="btn btn-default btn-sm" ng-click="move(-1)"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
        </div>
        <div class="calendar-header" flex="80">{{title}}</div>
        <div class="nav-right" flex="20">
            <button type="button" class="btn btn-default btn-sm" ng-click="move(1)"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
    </div>
    <dayview ng-switch-when="day"></dayview>
    <monthview ng-switch-when="month"></monthview>
    <weekview ng-switch-when="week"></weekview>
</div>
