<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="AngularJS Responsive Calendar Demo">
    <title>AngularJS Responsive Calendar Demo</title>
    <link rel="stylesheet" href="../src/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="../dist/css/calendar.min.css"/>
</head>
<body>
<section layout="column" layout-fill>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools" layout="row">
            <div>
                <a class="navbar-brand" href="/">AngularJS Responsive Calendar</a>
            </div>
            <div flex></div>
            <div>
                <a href="https://github.com/twinssbc/AngularJS-ResponsiveCalendar">
                    <img src="github-icon.png"/>
                    View on GitHub
                </a>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-padding layout="column">
        <section ng-controller="CalendarDemoCtrl" ng-init="loadEvents()">
            <div class="alert alert-success" ng-show="event">Event selected:{{event.startTime|date:
                'MMM/dd,yyyy,HH:mm'}} - {{event.endTime|date:'MMM/dd,yyyy,HH:mm'}}, {{event.title}}
            </div>

            <div layout="row">
                <md-button type="button" class="md-primary" ng-disabled="mode==='month'"
                        ng-click="changeMode('month')">
                    Month
                </md-button>
                <md-button type="button" class="md-primary" ng-disabled="mode==='week'"
                        ng-click="changeMode('week')">
                    Week
                </md-button>
                <md-button type="button" class="md-primary" ng-disabled="mode==='day'"
                        ng-click="changeMode('day')">
                    Day
                </md-button>
                <div flex></div>
                <md-button type="button" class="md-primary" ng-disabled="isToday()"
                        ng-click="today()">
                    Today
                </md-button>
            </div>
            <div>
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                          range-changed="reloadSource(startTime, endTime)"
                          event-selected="onEventSelected(event)"
                          time-selected="onTimeSelected(selectedTime)"></calendar>
            </div>
        </section>

    </md-content>
</section>

<script src="../src/bower_components/angular/angular.js"></script>
<script src="../src/bower_components/angular-aria/angular-aria.js"></script>
<script src="../src/bower_components/angular-animate/angular-animate.js"></script>
<script src="../src/bower_components/angular-material/angular-material.js"></script>
<script src="../dist/js/calendar-tpls.js"></script>
<script src="./calendarDemoCtrl.js"></script>

</body>
</html>
